<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url('templates/assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url('templates/site/assets/css/site.css') }}">
    <script src="{{ url('templates/site/assets/js/site.js') }}" defer></script>
    <script src="{{ url('templates/assets/js/scripts.js') }}" defer></script>
</head>
<body>
    {% include 'top.html' %}

    {% block content %} {% endblock %}

    {% include 'footer.html' %}
</body>
</html>